@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: 'Raleway', sans-serif;
}
body {
  -webkit-font-smoothing: antialiased; /* or @apply antialiased */
  background-color: #121214;
}
.bgImage{
  background-image: url('./assets/bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
}
.bannerMeio{
  background-image: url('./assets/banner_meio.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 200px;
}


.swiper-button-prev {
  top: 0;
  left: 0;
  width: 40px;
  height: 131%;
  color: #ffffff;
}
.swiper-button-prev.swiper-button-disabled {
  color: #000000;
}
.swiper-button-next.swiper-button-disabled {
  color: #000000;
}

.swiper-button-next {
  top: 0;
  right: 0;
  width: 40px;
  height: 131%;
  color: #ffffff;
}

.swiper-pagination-bullet{
  width: 10px;
  height: 2px;
  border-radius: 0;
  background-color: #383838;
  margin: 0 1px !important;
  opacity: 1;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: #ffffff;
}
/* styles.css */
.AccordionChevron {
  transition: transform 300ms;
}
.AccordionTrigger[data-state='open'] > .AccordionChevron {
  transform: rotate(180deg);
}

@media (max-width: 960px) {
  .bgPd{
    padding: 20px 2%;
  }
  .container-beneficio{
    display: block;
  }
  .container-beneficio ul,.divImagem{
    width: 100%;
  }
  .contentHeader{
    display: none;
  }
  .menuBar{
    display: block;
  }
}